<ion-modal [isOpen]="isOpenSig()" (ionModalDidDismiss)="handleCancel()" class="submit-modal">
  <ng-template>
    <div class="dialog-wrapper">
      <h1 class="dialog-header">Submit Exam?</h1>

      <div class="dialog-content">
        <p class="dialog-text">
          Are you sure you want to submit your exam?
        </p>
        <p class="dialog-info">
          You have answered <strong>{{ answeredCountSig() }}</strong> out of <strong>{{ totalQuestionsSig() }}</strong> questions.
        </p>
        @if (unansweredCountSig() > 0) {
          <p class="dialog-warning">
            <ion-icon name="alert-circle"></ion-icon>
            <strong>{{ unansweredCountSig() }}</strong> question(s) remain unanswered.
          </p>
        }
      </div>

      <div class="dialog-actions">
        <ion-button expand="block" fill="outline" color="medium" (click)="handleCancel()" [disabled]="isSubmittingSig()">
          Cancel
        </ion-button>
        <ion-button expand="block" color="success" (click)="handleSubmit()" [disabled]="isSubmittingSig()">
          {{ isSubmittingSig() ? 'Submitting...' : 'Submit Exam' }}
        </ion-button>
      </div>
    </div>
  </ng-template>
</ion-modal>
