<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="exams" href="/tabs/exams">
      <ion-icon aria-hidden="true" name="newspaper-outline"></ion-icon>
      <ion-label>Exams</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="taken-exams" href="/tabs/taken-exams">
      <ion-icon aria-hidden="true" name="time-outline"></ion-icon>
      <ion-label>Taken Exams</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
